@import "../scss/style.config.scss";

.testimonials_container {
  // background-color: red;
  background: $primary-color-variant;
  border-radius: 2rem;
  width: 30%;
  // width: fit-content;
  @include medium-devices {
    width: 57%;
  }
  @include small-devices {
    width: $container-width-sm;
    width: 90%;
  }
}

.testimonial {
  // background: $bg-variant-color;
  // background-color: red;
  text-align: center;
  padding: 1rem;
  border-radius: 2rem;
  user-select: none;
}

.client_avatar {
  // background-color: red;
  // width: 25rem;
  width: 100%;
  // aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 2rem;
  // margin: 0 auto 1rem;
  margin: 0 auto;
  // border: 0.4rem solid $primary-color-variant;
  margin-bottom: 1.5rem;

  @include medium-devices{
    width: 20rem;
  }
  @include small-devices{
    width: 17rem;
  }
}

.client_review {
  text-align: justify;
  color: $light-color;
  font-weight: 300;
  display: block;
  width: 80%;
  margin: 0.8rem auto 0;
  @include small-devices {
    width: $container-width-sm;
  }
}
