@import "../scss/style.config.scss";

.testimonials_container {
  // background-color: red;
  background: $bg-variant-color;
  border-radius: 2rem;
  width: 40%;
  @include medium-devices {
    width: 60%;
  }
  @include small-devices {
    width: $container-width-sm;
  }
}

.testimonial {
  // background: $bg-variant-color;
  // background-color: red;
  text-align: center;
  padding: 1rem;
  border-radius: 2rem;
  user-select: none;
}

.client_avatar {
  // background-color: red;
  width: 25rem;
  // aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 2rem;
  // margin: 0 auto 1rem;
  margin: 0 auto;
  // border: 0.4rem solid $primary-color-variant;
  margin-bottom: 1.5rem;
}

.client_review {
  text-align: justify;
  color: $light-color;
  font-weight: 300;
  display: block;
  width: 80%;
  margin: 0.8rem auto 0;
  @include small-devices {
    width: $container-width-sm;
  }
}
